openapi: 3.0.3
servers:
  - url: https://identity.c3j1.conoha.io
  - url: https://block-storage.c3j1.conoha.io
  - url: https://image-service.c3j1.conoha.io
  - url: https://compute.c3j1.conoha.io
  - url: https://networking.c3j1.conoha.io
  - url: https://lbaas.c3j1.conoha.io
  - url: https://object-storage.c3j1.conoha.io
  - url: https://dns-service.c3j1.conoha.io
info:
  description: |-
    ConoHa VPS Ver.3.0 の OpenAPI ドキュメントです

  version: '1.0'
  title: ConoHa VPS Ver.3.0 OpenAPI Spec
  termsOfService: 'https://www.conoha.jp/agreement/'
  contact:
    url: https://support.conoha.jp/

paths:
  /v3/auth/tokens:
    post:
      tags:
        - identity
      summary: APIユーザのトークン発行API
      description: |-
        ConoHa API を利用するために必要なトークンを発行します。

        現段階ではパスワード認証のみ対応しています。

        ユーザ・プロジェクトそれぞれに対して、IDまたは名前を指定してください。

        認証が成功した場合、レスポンスヘッダー内にトークンが入ります。

        有効期限は発行してから24時間となります。
      operationId: identity/issue-token
      security: []
      responses:
        '201':
          description: >-
            A new authentication token has been issued. The token string is returned in
            the X-Subject-Token response header. The body contains token metadata
            including expiration time, project scope, roles, and the service catalog.
            Tokens expire after 24 hours.
          headers:
            X-Subject-Token:
              schema:
                type: string
              description: generated token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueTokenRes'
        '400':
          $ref: '#/components/responses/BadRequest'
      parameters:
        - in: query
          name: nocatalog
          schema:
            type: string
          required: false
          description: (Since v3.1) The authentication response excludes the service catalog. By default, the response includes the service catalog.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueTokenReq'

  /v3/users/{user_id}/credentials/OS-EC2:
    get:
      tags:
        - identity
      summary: Credential 一覧
      description: Credential 取得
      operationId: identity/list-ec2-credentials
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      responses:
        '200':
          description: >-
            Returns a list of EC2-compatible credentials (access/secret key pairs) for
            the specified user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEc2CredentialsRes'
    post:
      tags:
        - identity
      summary: Credential 作成
      description: Credential 作成
      operationId: identity/create-ec2-credential
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEc2CredentialReq'
      responses:
        '201':
          description: >-
            A new EC2-compatible credential (access/secret key pair) has been created
            for the specified user. The response includes the generated access and
            secret keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEc2CredentialRes'
  /v3/users/{user_id}/credentials/OS-EC2/{credential_id}:
    get:
      tags:
        - identity
      summary: Credential 詳細
      description: Credential 詳細取得
      operationId: identity/get-ec2-credential
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
        - in: path
          name: credential_id
          schema:
            type: string
          required: true
          description: The UUID for the credential.
      responses:
        '200':
          description: >-
            Returns the details of a specific EC2-compatible credential, including the
            access key, secret key, project ID, and user ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowEc2CredentialRes'
    delete:
      tags:
        - identity
      summary: Credential 削除
      description: Credential 削除
      operationId: identity/delete-ec2-credential
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
        - in: path
          name: credential_id
          schema:
            type: string
          required: true
          description: The UUID for the credential.
      responses:
        '204':
          description: >-
            The EC2-compatible credential has been deleted. No content is returned.

  /v3/sub-users:
    get:
      tags:
        - role
      summary: サブユーザ一覧取得
      description: |-
        サブユーザの一覧を表示します。
      operationId: identity/list-sub-users
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a list of all sub-users in the project, including their IDs, names,
            and assigned roles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSubUsersRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - role
      summary: サブユーザ作成
      description: |-
        - サブユーザへのロール付与は必須
          - 1 つまたは複数のロール
        - ロールは id または name で指定する
        - パスワードは以下の制限がある
          - 9 文字以上 70 文字以下
          - 半角英小文字、半角英大文字、半角数字または記号、をそれぞれ 1 つ以上含む
          - 使用可能文字列
            - [a-zA-Z0-9] および記号
            - ! # $ % & ? " ' = + - _ { } [ ] ^ ~ : ; ( ) . , / | \ * @
      operationId: identity/create-sub-user
      security:
        - KeystoneTokenAuthentication: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubUserReq'
      responses:
        '200':
          description: >-
            The sub-user has been created with the specified roles. Returns the sub-user
            details including ID, name, and assigned roles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowSubUserRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: This operation conflicted with another operation on this resource.
  /v3/sub-users/{user_id}:
    get:
      tags:
        - role
      summary: サブユーザ詳細取得
      description: サブユーザの詳細取得
      operationId: identity/show-sub-user
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      responses:
        '200':
          description: >-
            Returns the details of the specified sub-user, including ID, name, and
            assigned roles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowSubUserRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
        - role
      summary: サブユーザ更新
      description: |-
        - パスワード変更
        - パスワードは以下の制限がある
          - 9 文字以上 70 文字以下
          - 半角英小文字、半角英大文字、半角数字または記号、をそれぞれ 1 つ以上含む
          - 使用可能文字列
            - [a-zA-Z0-9] および記号
            - ! # $ % & ? " ' = + - _ { } [ ] ^ ~ : ; ( ) . , / | \ * @
      operationId: identity/update-sub-user
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubUserReq'
      responses:
        '200':
          description: >-
            The sub-user has been updated (e.g., password changed). Returns the updated
            sub-user details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowSubUserRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      tags:
        - role
      summary: サブユーザ削除
      description: |-
        - ロールとの紐づけが解除される
          - ロールは消えない
      operationId: identity/delete-sub-user
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      responses:
        '204':
          description: >-
            The sub-user has been deleted. Associated role bindings are removed, but the
            roles themselves are not deleted. No content is returned.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/sub-users/{user_id}/assign:
    post:
      tags:
        - role
      summary: サブユーザにロール紐づけ
      description: |-
        - 記載されたロールが追加される
        - 記載されなかったロールは何もしない
      operationId: identity/assign-roles-to-sub-user
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignRolesToSubUserReq'
      responses:
        '200':
          description: >-
            The specified roles have been assigned to the sub-user. Returns the updated
            sub-user details with all current role assignments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowSubUserRes'
  /v3/sub-users/{user_id}/unassign:
    post:
      tags:
        - role
      summary: サブユーザからロール紐づけ解除
      description: |-
        - 記載されたロールが紐づけ解除される
        - 記載されなかったロールは何もしない
        - 紐づくロールを 0 にできない
      operationId: identity/unassign-roles-from-sub-user
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignRolesToSubUserReq'
      responses:
        '200':
          description: >-
            The specified roles have been unassigned from the sub-user. At least one
            role must remain assigned. Returns the updated sub-user details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowSubUserRes'
  /v3/permissions:
    get:
      tags:
        - role
      summary: パーミッション一覧取得
      description: |-
        - パーミッション名は `<httpMethod>`-`<resource>`-`[sub-resource]`-`[operation]`
          - sub-resource, operation は省略可能
          - 例:
            - get-server (サーバ詳細取得)
            - get-server-list (サーバ一覧)
      operationId: identity/list-permissions
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a list of all available permissions. Permission names follow the
            pattern `<httpMethod>-<resource>-[sub-resource]-[operation]` (e.g.,
            get-server, get-server-list).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPermissionsRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/sub-users/roles:
    get:
      tags:
        - role
      summary: ロール一覧取得
      description: ロールの一覧を取得します。
      operationId: identity/list-roles
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a list of all custom roles in the project, including their IDs,
            names, and assigned permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRolesRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - role
      summary: ロール作成
      description: |-
        - ロール作成時にパーミッション付与は必須
          - １つまたは複数のパーミッション
        - パーミッションは name で指定する
        - ロール名に使える文字列は `^[a-zA-Z0-9_-]{1,32}$`
      operationId: identity/create-role
      security:
        - KeystoneTokenAuthentication: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleReq'
      responses:
        '200':
          description: >-
            The role has been created with the specified permissions. Returns the role
            details including ID, name, and assigned permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowRoleRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: This operation conflicted with another operation on this resource.
  /v3/sub-users/roles/{role_id}:
    get:
      tags:
        - role
      summary: ロール詳細取得
      description: ロールの詳細を取得します。
      operationId: identity/show-role
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/RoleIdPath'
      responses:
        '200':
          description: >-
            Returns the details of the specified role, including ID, name, and assigned
            permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowRoleRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - role
      summary: ロール更新
      description: |-
        - ロール名も変更可能
          - ロール名に使える文字列は `^[a-zA-Z0-9_-]{1,32}$`
      operationId: identity/update-role
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/RoleIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleReq'
      responses:
        '200':
          description: >-
            The role has been updated (name and/or permissions changed). Returns the
            updated role details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowRoleRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - role
      summary: ロール削除
      description: |-
        - パーミッションとの紐づけが解除される
          - パーミッションは消えない
        - サブユーザにこのロールのみ紐づいている場合、削除できない
      operationId: identity/delete-role
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/RoleIdPath'
      responses:
        '204':
          description: >-
            The role has been deleted. Permission bindings are removed, but the
            permissions themselves are not deleted. Cannot delete a role if it is the
            only role assigned to a sub-user. No content is returned.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/sub-users/roles/{role_id}/assign:
    post:
      tags:
        - role
      summary: ロールにパーミッションを紐づけ
      description: |-
        - 記載されたパーミッションが紐づく
        - 記載されなかったパーミッションは何もしない
      operationId: identity/assign-permissions-to-role
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/RoleIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignPermissionsToRole'
      responses:
        '200':
          description: >-
            The specified permissions have been assigned to the role. Returns the
            updated role details with all current permission assignments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowRoleRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/sub-users/roles/{role_id}/unassign:
    post:
      tags:
        - role
      summary: ロールからパーミッションを紐づけ解除
      description: |-
        - 記載されたパーミッションが紐づけ解除される
        - 記載されなかったパーミッションは何もしない
        - 紐づけ解除された結果パーミッションを 0 にできない
      operationId: identity/unassign-permissions-from-role
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/RoleIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignPermissionsToRole'
      responses:
        '200':
          description: >-
            The specified permissions have been unassigned from the role. At least one
            permission must remain assigned. Returns the updated role details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowRoleRes'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/{project_id}/types:
    get:
      tags:
        - block-storage
      summary: ボリュームタイプ一覧取得
      description: |-
        ボリュームタイプの一覧を取得します。
      operationId: block-storage/list-volume-types
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a list of available volume types. Key types: c3j1-ds02-boot (for
            boot disks) and c3j1-ds02-add (for additional disks).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVolumeTypesRes'
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - in: query
          name: is_public
          schema:
            type: boolean
          required: false
          description: Filter the volume type by public visibility.
        - $ref: '#/components/parameters/SortQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/MarkerQuery'
  /v3/{project_id}/types/{volume_type_id}:
    get:
      tags:
        - block-storage
      summary: ボリュームタイプ取得 (アイテム指定)
      description: Shows details for a volume type.
      operationId: block-storage/show-volume-type
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns the details of a specific volume type, including name, description,
            and extra specs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowVolumeTypeRes'
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - in: path
          name: volume_type_id
          schema:
            type: string
          required: true
          description: The UUID for an existing volume type.
  /v3/{project_id}/volumes/detail:
    get:
      tags:
        - block-storage
      summary: ボリューム詳細一覧取得
      description: |-
        アクセス可能なボリュームのリストと詳細を取得します。
      operationId: block-storage/list-volumes-detail
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a detailed list of all volumes in the project, including status
            (available, in-use, creating, deleting, error), size, volume_type, attached
            server info, and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVolumesDetailRes'
        '400':
          $ref: '#/components/responses/BadRequest'
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/SortQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/MarkerQuery'
        - in: query
          name: with_count
          schema:
            type: boolean
          required: false
          description: "Whether to show count in API response or not, default is False. New in version 3.45"
        - in: query
          name: name
          schema:
            type: string
          required: false
          description: Filters the response by a name, as a string.
        - in: query
          name: status
          schema:
            type: string
          required: false
          description: Filters the response by a volume status.
        - in: query
          name: metadata
          schema:
            type: string
          required: false
          description: Filters the response by a metadata key and value pair.
  /v3/{project_id}/volumes:
    get:
      tags:
        - block-storage
      summary: ボリューム一覧取得
      description: |-
        ボリューム一覧を取得します。
      operationId: block-storage/list-volumes
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a summary list of all volumes in the project, including IDs and
            names. Use /v3/{project_id}/volumes/detail for full details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVolumesRes'
        '400':
          $ref: '#/components/responses/BadRequest'
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/SortQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/MarkerQuery'
        - in: query
          name: with_count
          schema:
            type: boolean
          required: false
          description: "Whether to show count in API response or not, default is False. New in version 3.45"
    post:
      tags:
        - block-storage
      summary: ボリューム作成
      description: |-
        ボリューム作成API

        * ブートストレージ用のボリューム(以下、ブートボリューム) 作成時において、imageRef の指定が必須になります。
        * ブートボリューム作成時において、size の指定はメモリ512MBプランのものであれば 30、メモリ512MBプラン以外のものであれば 100、200、500 から指定できます。
        * 追加ストレージ用のボリューム(以下、追加ボリューム) 作成時において、size の指定は 200、500、1000、5000、10000 から指定できます。
        * 追加ボリューム作成時において、imageRef の指定はイメージ保存元が追加ボリュームのイメージのみ指定できます。
        * ボリュームの複製時において、size および volume_type は複製元と同じ値を指定する必要があります。
        * バックアップからのボリューム作成時において、volume_type はバックアップ元と同じ値を指定する必要があります。また、バックアップ元より小さい size は指定できません。
        * ブートボリュームはサーバにアタッチしてご利用ください。アタッチされていないブートボリュームは2個までに制限されています。上限に到達した際は、削除またはサーバへのアタッチをお願いします。
        * ボリュームを複製する場合は source_volid に複製したいボリュームIDを指定します。source_volid を指定する際、imageRef は必要ありません。
        * バックアップから新規ボリュームを作成する場合は backup_id を指定します。backup_id を指定する際、imageRef は必要ありません。
        * volume_type はボリュームタイプのIDまたは名前を指定することができます
          * volume_type は未指定にすることも可能ですが ConoHa 側で指定されるデフォルトの volume_type が自動指定されますのでご注意ください
          * 指定する volume_type は以下のように選択してください
          * c3j1-ds02-boot
            * ブートボリュームを作成する際に使うボリュームタイプです
          * c3j1-ds02-add
            * 追加ボリュームを作成する際に使うボリュームタイプです

      operationId: block-storage/create-volume
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '202':
          description: >-
            The volume creation request has been accepted and is being processed
            asynchronously. Poll GET /v3/{project_id}/volumes/{volume_id} to check
            status transition (creating -> available). For boot volumes, imageRef is
            required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVolumeRes'
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVolumeReq'
  /v3/{project_id}/volumes/{volume_id}:
    get:
      tags:
        - block-storage
      summary: ボリューム詳細取得 (アイテム指定)
      description: |-
        指定したボリュームの詳細を取得します。
      operationId: block-storage/show-volume
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns the details of a specific volume, including status, size,
            volume_type, attachments, creation time, and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowVolumeRes'
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/VolumeIdPath'
    put:
      tags:
        - block-storage
      summary: ボリューム更新
      description: |-
        ボリュームの名前を変更することができます。
      operationId: block-storage/update-volume
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            The volume name has been updated. Returns the updated volume details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowVolumeRes'
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - in: path
          name: volume_id
          schema:
            type: string
          required: true
          description: The UUID of the volume.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVolumeReq'
    delete:
      tags:
        - block-storage
      summary: ボリューム削除
      description: |-
        ボリュームを削除します。

        スナップショットを保持していたり、マイグレーション中のボリュームは削除できません。
      operationId: block-storage/delete-volume
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '202':
          description: >-
            The volume deletion request has been accepted and is being processed
            asynchronously. Volumes with snapshots or in migration cannot be deleted.
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - in: path
          name: volume_id
          schema:
            type: string
          required: true
          description: The UUID of the volume.
        - in: query
          name: cascade
          schema:
            type: boolean
          required: false
          description: Remove any snapshots along with the volume. Default=False.
        - in: query
          name: force
          schema:
            type: boolean
          required: false
          description: "Indicates whether to force delete a volume even if the volume is in deleting or error_deleting. Default is false.New in version 3.23"
  /v3/{project_id}/volumes/{volume_id}/action:
    post:
      tags:
        - block-storage
      summary: ボリュームのイメージ保存
      description: |-
        1. ボリュームのイメージ保存API
          * 1TB以上のサイズのボリュームはイメージ保存できませんのでご注意ください
          * ボリュームがサーバにアタッチされている場合、そのサーバは停止中である必要があります
          * イメージ保存領域を超過している場合はイメージ保存を実行してもイメージは完成しません。イメージ保存領域を購入してから再実行してください。
      operationId: block-storage/volume-actions
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/VolumeIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/VolUploadImageReq'
      responses:
        '202':
          description: >-
            The volume action (e.g., upload-to-image) has been accepted and is being
            processed asynchronously. Note: volumes over 1TB cannot be saved as images,
            and attached volumes require the server to be stopped.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolUploadImageRes'
  /v3/{project_id}/backups:
    get:
      tags:
        - block-storage
      summary: バックアップ一覧取得API
      description: |-
        自動バックアップで出来上がったバックアップ一覧取得を行います。
      operationId: block-storage/list-backups
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/SortQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
      responses:
        '200':
          description: >-
            Returns a list of automatic backups, including backup IDs, volume IDs, and
            status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBackupsRes'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - block-storage
      summary: 自動バックアップ申込み
      description: |-
        自動バックアップ申込みAPI   
        指定したinstanceに追加ボリュームがアタッチされている場合は、ブートボリュームに加えて追加ボリュームもバックアップ対象になります。

        日次バックアップを申し込む場合は schedule: daily を指定してください  
        schedule の指定がない場合、週次バックアップ申し込みとなります

        retention はデフォルトで 14 です  
        14 以上 30 以下の値を指定できます
      operationId: block-storage/apply-backup
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '201':
          description: >-
            The automatic backup subscription has been created. If the instance has
            additional volumes attached, both boot and additional disks will be backed
            up. Returns backup configuration details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyBackupRes'
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyBackupReq'
  /v3/{project_id}/backups/detail:
    get:
      tags:
        - block-storage
      summary: バックアップ詳細一覧取得
      description: |-
        バックアップ詳細一覧取得を行います。
      operationId: block-storage/list-backups-details
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - $ref: '#/components/parameters/SortQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
      responses:
        '200':
          description: >-
            Returns a detailed list of all backups, including status, size, volume ID,
            creation time, and availability zone.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBackupsDetailRes'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/{project_id}/backups/{backup_id}:
    get:
      tags:
        - block-storage
      summary: バックアップ詳細取得API
      description: |-
        バックアップ詳細取得を行います。
      operationId: block-storage/show-backup
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - in: path
          name: backup_id
          schema:
            type: string
          required: true
          description: The ID of the backup.
      responses:
        '200':
          description: >-
            Returns the details of a specific backup, including status, size, volume ID,
            and creation time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowBackupRes'
        '404':
          $ref: '#/components/responses/NotFound'

  /v3/{project_id}/backups/{backup_id}/restore:
    post:
      tags:
        - block-storage
      summary: バックアップリストア
      description: |-
        - リストア対象がブートボリュームの場合は、サーバは停止中である必要があります
        - リストア対象が追加ボリュームの場合は、サーバは停止中またはデタッチ状態である必要があります
        - バックアップ元のボリュームと、リストア先のボリュームは同じである必要はありません

      operationId: block-storage/restore-backup
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '202':
          description: >-
            The backup restore has been accepted and is being processed asynchronously.
            For boot disk restores, the server must be stopped. For additional disk
            restores, the server must be stopped or the disk must be detached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreBackupRes'
        '400':
          $ref: '#/components/responses/BadRequest'
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - in: path
          name: backup_id
          schema:
            type: string
          required: true
          description: The ID of the backup.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreBackupReq'
  /v3/{project_id}/backups/{instance_uuid}:
    put:
      tags:
        - block-storage
      summary: バックアップ保存世代数更新
      description: |-
        日次バックアップの保存世代数を変更します. retention には 14 以上 30 以下の値を指定可能です.
        この API を実行するには日次バックアップを契約する必要があります
      operationId: block-storage/update-backup
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - in: path
          name: instance_uuid
          schema:
            type: string
          required: true
          description: The ID of the instance.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBackupReq'
      responses:
        '200':
          description: >-
            The daily backup retention count has been updated. Returns the updated
            backup configuration. Retention must be between 14 and 30.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBackupRes'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - block-storage
      summary: 自動バックアップ解約
      description: |-
        週次、日次どちらも申し込んでいる場合、どちらも解約されます  
        バックアップデータは削除されないため、必要であれば再度申し込みをしてください

      operationId: block-storage/cancel-backup
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '204':
          description: >-
            The automatic backup subscription has been cancelled (both weekly and
            daily). Existing backup data is NOT deleted. No content is returned.
      parameters:
        - $ref: '#/components/parameters/ProjectIdPath'
        - in: path
          name: instance_uuid
          schema:
            type: string
          required: true
          description: The ID of the instance.

  /v2/images:
    get:
      tags:
        - image-service
      summary: イメージ一覧取得
      description:  |-
        パブリック及び対象ユーザでのみ利用可能なプライベートイメージの一覧を取得します。
      operationId: image-service/list-images
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a list of available images (both public and private), including
            image ID, name, status, size, os_type, visibility, and metadata. Supports
            filtering by name, status, visibility, os_type, and more.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImagesRes'
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/MarkerQuery'
        - in: query
          name: name
          schema:
            type: string
          required: false
          description: Filters the response by a name, as a string. A valid value is the name of an image.
        - in: query
          name: owner
          schema:
            type: string
          required: false
          description: Filters the response by a project (also called a “tenant”) ID. Shows only images that are shared with you by the specified owner.
        - in: query
          name: protected
          schema:
            type: boolean
          required: false
          description: Filters the response by the ‘protected’ image property. A valid value is one of ‘true’, ‘false’ (must be all lowercase). Any other value will result in a 400 response.
        - in: query
          name: status
          schema:
            type: string
          required: false
          description: Filters the response by an image status.
        - in: query
          name: visibility
          schema:
            type: string
          required: false
          description: Filters the response by an image visibility value. A valid value is public, private, community, shared, or all. (Note that if you filter on shared, the images included in the response will only be those where your member status is accepted unless you explicitly include a member_status filter in the request.) If you omit this parameter, the response shows public, private, and those shared images with a member status of accepted.
        - in: query
          name: os_hidden
          schema:
            type: boolean
          required: false
          description: When true, filters the response to display only “hidden” images. By default, “hidden” images are not included in the image-list response. (Since Image API v2.7)
        - in: query
          name: member_status
          schema:
            type: string
          required: false
          description: Filters the response by a member status. A valid value is accepted, pending, rejected, or all. Default is accepted.
        - in: query
          name: size_max
          schema:
            type: string
          required: false
          description: Filters the response by a maximum image size, in bytes.
        - in: query
          name: size_min
          schema:
            type: string
          required: false
          description: Filters the response by a minimum image size, in bytes.
        - in: query
          name: os_type
          schema:
            type: string
          required: false
          description: Filters the response by a os_type.
        - in: query
          name: created_at
          schema:
            type: string
          required: false
          description: |-
            Specify a comparison filter based on the date and time when the resource was created. (See Time Comparison Filters).

            The date and time stamp format is ISO 8601:

            CCYY-MM-DDThh:mm:ss±hh:mm

            The ±hh:mm value, if included, is the time zone as an offset from UTC.

            For example, 2015-08-27T09:49:58-05:00.

            If you omit the time zone, the UTC time zone is assumed.
        - in: query
          name: updated_at
          schema:
            type: string
          required: false
          description: |-
            Specify a comparison filter based on the date and time when the resource was most recently modified. (See Time Comparison Filters).

            The date and time stamp format is ISO 8601:

            CCYY-MM-DDThh:mm:ss±hh:mm

            The ±hh:mm value, if included, is the time zone as an offset from UTC.

            For example, 2015-08-27T09:49:58-05:00.

            If you omit the time zone, the UTC time zone is assumed.
        - in: query
          name: sort_dir
          schema:
            type: string
          required: false
          description: Sorts the response by a set of one or more sort direction and attribute (sort_key) combinations. A valid value for the sort direction is asc (ascending) or desc (descending). If you omit the sort direction in a set, the default is desc.
        - in: query
          name: sort_key
          schema:
            type: string
          required: false
          description: Sorts the response by an attribute, such as name, id, or updated_at. Default is created_at. The API uses the natural sorting direction of the sort_key image attribute.
        - in: query
          name: sort
          schema:
            type: string
          required: false
          description: |-
            Sorts the response by one or more attribute and sort direction combinations. You can also set multiple sort keys and directions. Default direction is desc.

            Use the comma (,) character to separate multiple values. For example:

            GET /v2/images?sort=name:asc,status:desc
    post:
      tags:
        - image-service
      summary: ISOイメージ作成
      description:  |-
        ISOイメージをアップロードする際に利用します。

        本APIでイメージIDが発行されます。
        ISOイメージを利用するには次にISOイメージアップロードAPIにて、バイナリデータをアップロードしてください。
        ISOイメージアップロードAPIの詳細は https://doc.conoha.jp/reference/api-vps3/api-image-vps3/image-upload_iso_image-v3/?btn_id=reference-api-vps3--sidebar_reference-image-upload_iso_image-v3 をご参照ください。

        disk_format は `iso` のみ指定可能です。
      operationId: image-service/create-images
      security:
        - KeystoneTokenAuthentication: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImageReq'
      responses:
        '200':
          description: >-
            The ISO image record has been created with a new image ID. Next, upload the
            binary data via PUT /v2/images/{image_id}/file. Only disk_format=iso is
            supported.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesBody'
  /v2/images/{image_id}:
    get:
      tags:
        - image-service
      summary: イメージ詳細取得(アイテム指定)
      description: 指定したイメージの詳細を取得します。
      operationId: image-service/show-image
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns the details of a specific image, including name, status, size,
            disk_format, container_format, visibility, os_type, and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesBody'
      parameters:
        - in: path
          name: image_id
          schema:
            type: string
          required: true
          description: The UUID of the image.
    delete:
      tags:
        - image-service
      summary: イメージ削除
      description: |-
        image_id を指定し、該当するイメージを削除します。

        owner が自身のイメージのみ削除することが可能です。

      operationId: image-service/delete-image
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '204':
          description: >-
            The image has been deleted. Only images owned by the authenticated user can
            be deleted. No content is returned.
      parameters:
        - in: path
          name: image_id
          schema:
            type: string
          required: true
          description: The UUID of the image.
  /v2/images/{image_id}/file:
    put:
      tags:
        - image-service
      summary: ISOイメージアップロード
      description: |-
        指定したイメージIDに対してISOイメージのバイナリデータをアップロードします。

        事前に `POST /v2/images` でイメージIDを発行してから本APIを呼び出してください。

        リクエストボディにISOファイルのバイナリデータを指定してください。
      operationId: image-service/upload-image
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - in: path
          name: image_id
          schema:
            type: string
          required: true
          description: The UUID of the image.
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: >-
            The ISO image binary data has been uploaded successfully. The image status
            will transition to 'active' once processing is complete. No content is
            returned.

  /v2/quota:
    get:
      tags:
        - image-service
      summary: イメージ保存割当容量情報取得
      description: |-
        アカウントに設定されているイメージクォータを取得します。
      operationId: image-service/show-image-quota
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns the image storage quota for the account, including the allocated
            quota size and current usage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowImageQuotaRes'
    put:
      tags:
        - image-service
      summary: イメージ保存割当容量変更
      description: |-
        イメージ保存容量のクオータを設定します。

        無料分の 50GB 以下は設定できません。

        500GB 毎 + デフォルト値の 50GB を加えた単位で設定が可能です。(例: 550,1050GB,...)
      operationId: image-service/set-image-quota
      security:
        - KeystoneTokenAuthentication: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetImageQuotaReq'
      responses:
        '200':
          description: >-
            The image storage quota has been updated. Quota must be at least 50GB (free
            tier) and can be increased in 500GB increments (e.g., 550GB, 1050GB).
            Returns the updated quota information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowImageQuotaRes'

  /v2/images/total:
    get:
      tags:
        - image-service
      summary: イメージ保存容量合計取得
      description: |-
        現在のイメージ保存使用量を取得します

        レスポンスの単位は byte です。
      operationId: image-service/show-total-image-size
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns the total image storage usage in bytes for the account or specified
            tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowTotalImageSizeRes'
      parameters:
        - in: query
          name: owner
          schema:
            type: string
          required: false
          description: "対象のテナント(project_id)を指定します。未指定の場合はトークン所有者のテナントが利用されます"

  /v2.1/os-keypairs:
    get:
      tags:
        - compute
      summary: キーペア一覧取得
      description: |-
        アカウントに関連付けられているキーペアを一覧表示します。
      operationId: compute/list-keypair
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
          required: false
          description: Requests a page size of items. Returns a number of items up to a limit value. Use the limit parameter to make an initial limited request and use the last-seen item from the response as the marker parameter value in a subsequent limited request.
        - in: query
          name: marker
          schema:
            type: string
          required: false
          description: The last-seen item. Use the limit parameter to make an initial limited request and use the last-seen item from the response as the marker parameter value in a subsequent limited request.
      responses:
        '200':
          description: >-
            Returns a list of SSH keypairs associated with the account, including
            keypair name, public key fingerprint, and type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListKeypairsRes'
    post:
      tags:
        - compute
      summary: キーペア作成
      description: |-
        キーペアを作成します。公開鍵を指定または自動生成を選択できます。
      operationId: compute/create-keypair
      security:
        - KeystoneTokenAuthentication: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKeypairReq'
      responses:
        '201':
          description: >-
            A new SSH keypair has been created. If no public_key was provided, the
            response includes the generated private_key (only returned once — save it
            immediately). Otherwise, returns the registered public key details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateKeypairRes'
  /v2.1/os-keypairs/{keypair_name}:
    get:
      tags:
        - compute
      summary: キーペア詳細取得(アイテム指定)
      description: |-
        アカウントに関連付けられたキーペアの詳細を表示します。
      operationId: compute/show-keypair
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - in: path
          name: keypair_name
          schema:
            type: string
          required: true
          description: The keypair name.
      responses:
        '200':
          description: >-
            Returns the details of a specific SSH keypair, including name, public key,
            fingerprint, and type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowKeypairRes'
    delete:
      tags:
        - compute
      summary: キーペア削除
      description: |-
        指定したキーペアを削除することができます。
      operationId: compute/delete-keypair
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - in: path
          name: keypair_name
          schema:
            type: string
          required: true
          description: The keypair name.
      responses:
        '202':
          description: >-
            The keypair deletion has been accepted. The keypair will be removed from the
            account.
  /v2.1/servers/{server_id}/os-volume_attachments:
    get:
      tags:
        - compute
      summary: アタッチ済みボリューム一覧
      description: |-
        サーバにアタッチされているボリュームの一覧を取得します。
      operationId: compute/list-attach-volumes
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
      responses:
        '200':
          description: >-
            Returns a list of volumes attached to the specified server, including volume
            IDs, device names, and attachment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAttachVolumeRes'
    post:
      tags:
        - compute
      summary: ボリュームアタッチ
      description: |-
        サーバへ追加ボリュームのアタッチを行います。

        サーバは停止状態である必要があります。

        アタッチできる追加ボリュームは1つまでとなります。

        処理中のボリュームはアタッチできません。処理完了後に実行してください。
      operationId: compute/attach-volume
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - in: path
          name: server_id
          schema:
            type: string
          required: true
          description: The UUID of the server.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NovaAttachVolumeReq'
      responses:
        '200':
          description: >-
            The volume has been attached to the server. The server must be in SHUTOFF
            state. Only one additional disk can be attached per server. Returns the
            attachment details including device name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NovaAttachVolumeRes'
  /v2.1/servers/{server_id}/os-volume_attachments/{volume_id}:
    get:
      tags:
        - compute
      summary: アタッチ済みボリューム取得 (アイテム指定)
      description: |-
        サーバにアタッチ済みのボリューム詳細情報を取得します
      operationId: compute/show-attach-volumes
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
        - $ref: '#/components/parameters/VolumeIdPath'
      responses:
        '200':
          description: >-
            Returns the details of a specific volume attachment on the server, including
            volume ID, device name, and server ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NovaAttachVolumeRes'
    delete:
      tags:
        - compute
      summary: ボリュームデタッチ
      description: |-
        サーバにアタッチしているボリュームをデタッチします。

        ブートボリュームはデタッチできません。

        サーバは停止状態である必要があります。
      operationId: compute/detach-volume
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
        - $ref: '#/components/parameters/VolumeIdPath'
      responses:
        '202':
          description: >-
            The volume detach request has been accepted. The server must be in SHUTOFF
            state. Boot disks cannot be detached. Poll GET
            /v2.1/servers/{server_id}/os-volume_attachments to verify detachment.
  /v2.1/servers/{server_id}/metadata:
    post:
      tags:
        - compute
      summary: サーバメタデータの更新 (ネームタグの変更)
      description: |-
        サーバの 1 つ以上のメタデータ項目を作成または更新します。

        サーバにまだ存在しないメタデータ項目を作成し、キーに一致する既存のメタデータ項目を置き換えます。リクエストボディに含まれていない項目は変更されません。

        サービスの仕様上設定しているメタデータは、更新できません
      operationId: compute/create-server-metadata
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServerMetadataReq'
      responses:
        '200':
          description: >-
            The server metadata has been created or updated. Returns all metadata
            key-value pairs for the server. System-defined metadata cannot be modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateServerMetadataRes'
    get:
      tags:
        - compute
      summary: サーバメタデータ一覧取得
      description: |-
        サーバに設定されているメタデータの一覧を取得します
      operationId: compute/list-metadata
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - in: path
          name: server_id
          schema:
            type: string
          required: true
          description: The UUID of the server.
      responses:
        '200':
          description: >-
            Returns all metadata key-value pairs set on the specified server, including
            both user-defined and system-defined metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServerMetadataRes'
  /v2.1/servers/{server_id}/os-interface:
    get:
      tags:
        - compute
      summary: アタッチ済みポート一覧取得
      description: |-
        サーバに接続されているポートインタフェースを一覧表示します。
      operationId: compute/list-interface
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
      responses:
        '200':
          description: >-
            Returns a list of port interfaces attached to the specified server,
            including port IDs, network IDs, MAC addresses, and fixed IPs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInterfaceRes'
    post:
      tags:
        - compute
      summary: ポートアタッチ
      description: |-
        追加IPやローカルネットワークのポートをサーバにアタッチします

        サーバは停止状態または起動状態である必要があります。

        処理中のサーバに対してアタッチすることはできません。処理が完了してから実行してください。

      operationId: compute/create-interface
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInterfaceReq'
      responses:
        '200':
          description: >-
            The port has been attached to the server. The server must be in ACTIVE or
            SHUTOFF state. Returns the interface details including port ID, network ID,
            and assigned IP addresses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInterfaceRes'
  /v2.1/servers/{server_id}/os-interface/{port_id}:
    get:
      tags:
        - compute
      summary: アタッチ済みポート取得 (アイテム指定)
      description: |-
        サーバに接続されているポート・インターフェースの詳細を表示します。
      operationId: compute/show-interface
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
        - $ref: '#/components/parameters/PortIdPath'
      responses:
        '200':
          description: >-
            Returns the details of a specific port interface attached to the server,
            including port ID, network ID, MAC address, and fixed IPs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowInterfaceRes'
    delete:
      tags:
        - compute
      summary: ポートデタッチ
      description: |-
        追加IPやローカルネットワークのポートをサーバからデタッチします

        サーバは停止状態または起動状態である必要があります。

        処理中のサーバに対してデタッチすることはできません。処理が完了してから実行してください。

      operationId: compute/detach-interface
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
        - $ref: '#/components/parameters/PortIdPath'
      responses:
        '202':
          description: >-
            The port detach request has been accepted. The server must be in ACTIVE or
            SHUTOFF state. Poll GET /v2.1/servers/{server_id}/os-interface to verify
            detachment.
  /v2.1/servers/{server_id}/action:
    post:
      tags:
        - compute
      summary: サーバ操作 (Server Actions)
      description: |-
        ## 1. サーバ起動
          停止しているサーバを起動し、ステータスをACTIVEに変更します。

          リクエストボディに os-start アクションを指定してください。

          サーバのステータスは SHUTOFF でなければなりません。

          サーバの起動に成功すると、ステータスが ACTIVE に変更されます。

          リクエストボディ例:
          ```
          {
              "os-start": null
          }
          ```

        ## 2. サーバ停止
          実行中のサーバを停止し、ステータスをSHUTOFFに変更します。

          リクエストボディに os-stop アクションを指定してください。

          サーバのステータスは ACTIVE でなければなりません。

          サーバの停止に成功すると、ステータスは SHUTOFF に変更されます。

          リクエストボディ例:
          ```
          {
            "os-stop": null
          }
          ```

        ## 3. サーバ強制停止
          実行中のサーバを強制的に停止し、ステータスをSHUTOFFに変更します。

          リクエストボディに os-stop アクションを指定してください。

          サーバのステータスは ACTIVE でなければなりません。

          サーバの停止に成功すると、ステータスは SHUTOFF に変更されます。

          リクエストボディ例:
          ```
          {
              "os-stop": {
                  "force_shutdown": true
              }
          }
          ```

        ## 4. サーバ再起動
          サーバを再起動します。

          リクエストボディに reboot アクションを指定してください。

          サーバを再起動できるのは、サーバのステータスが ACTIVE のときのみです。

          タイプには SOFT または HARD を指定できます。

          サーバの再起動に成功すると、サーバのステータスが ACTIVE に変更されます。

          リクエストボディ例:
          ```
          {
              "reboot": {
                  "type": "SOFT"
              }
          }
          ```

        ## 5. OS再インストール
          サーバの再構築(OS再インストール)を行います。

          イメージ保存やサーバの起動/停止等の処理中は実行できません。処理が完了するまでお待ちください。

          起動中でも実行可能です。

          停止中のサーバに実行した場合、再構築後は停止状態となります。

          リクエストボディ例:
          ```
          {
              "rebuild":{
                  "imageRef": "550e8400-e29b-41d4-a716-446655440000",
                  "key_name": "my_keypair",
                  "adminPass": "E7DYiH7GHQDMWJvq"
              }
          }
          ```

        ## 6. サーバリサイズ
          サーバのリサイズを行います。

          リクエストボディで resize アクションを指定してください。

          サーバのステータスが「SHUTOFF」である場合にのみ、サーバのリサイズが可能です。

          イメージ保存処理中のボリュームがアタッチされている場合もリサイズはできません。処理が完了するまでお待ちください。

          本API実行後、正常にリサイズされたサーバは「VERIFY_RESIZE」ステータスに遷移します。

          サーバリサイズ承認 (confirm) または サーバリサイズ取り消し (revert) を実行するまでサーバの起動はできません。

          リクエストボディ例:
          ```
          {
              "resize": {
                  "flavorRef": "550e8400-e29b-41d4-a716-446655440000"
              }
          }
          ```

        ## 7. サーバリサイズ承認 (confirm)
          リサイズを実行後、確定待ちのリサイズ処理を確定させます。

          リクエストボディで confirmResize アクションを指定してください。

          実行できるサーバはステータスが VERIFY_RESIZE であるリサイズ済みサーバだけです。

          リサイズ操作が正常に確認されると、ステータスが ACTIVE または SHUTOFF になり、移行ステータスが confirmed になります。

          リクエストボディ例:
          ```
          {
              "confirmResize": null
          }
          ```

        ## 8. サーバリサイズ取り消し (revert)
          リサイズを実行後、確定待ちのリサイズ処理をキャンセルし、元に戻します。

          リクエストボディで revertResize アクションを指定してください。

          ステータスが VERIFY_RESIZE 、 OS-EXT-STS:vm_state が resized である場合にのみ、リサイズされたサーバを元に戻すことができます。

          本APIを実行すると、ステータスが REVERT_RESIZE 、 task_state が resize_reverting になります。

          その後処理が成功すると、ステータスは ACTIVE または SHUTOFF になります。

          リクエストボディ例:
          ```
          {
              "revertResize": null
          }
          ```

        ## 9. ビデオデバイス変更
          ビデオデバイスを変更します。

          「qxl」、「vga」、「cirrus」から1つ選択してください。

          デフォルトは「vga」です。

          サーバが停止している場合のみ実行が可能です。

          リクエストボディ例:
          ```
          {
              "hwVideoModel":"vga"
          }
          ```

        ## 10. ネットワークアダプタ変更
          ネットワークアダプターを変更します。

          「e1000」または「virtio」から1つを選択します。

          デフォルトは「virtio」です。

          サーバが停止している場合のみ実行が可能です。

          リクエストボディ例:
          ```
          {
              "hwVifModel":"e1000"
          }
          ```

        ## 11. ストレージコントローラー変更
          ストレージコントローラーを変更します。

          「virtio」または「ide」から1つを選択します。

          デフォルトは「virtio」です。

          サーバが停止している場合のみ実行が可能です。

          リクエストボディ例:
          ```
          {
              "hwDiskBus":"virtio"
          }
          ```

        ## 12. サーバの復旧 (rescue)
          サーバをレスキューモードにし、ステータスを RESCUE に変更します。

          アップロード済みのISOイメージをサーバで利用する場合に本APIを実行してください。

          リクエストボディで rescue アクションを指定してください。

          シャットダウン状態のサーバに rescue を実行した場合、サーバが自動的に起動されます。

          リクエストボディ例:
          ```
          {
              "rescue": {
                  "rescue_image_ref": "550e8400-e29b-41d4-a716-446655440000"
              }
          }
          ```

        ## 13. サーバの復旧モード解除 (unrescue)
          サーバのレスキュー状態を解除し、ステータスを ACTIVE に変更します。

          リクエストボディで unrescue アクションを指定してください。

          リクエストボディ例:
          ```
          {
              "unrescue": null
          }
          ```

      operationId: compute/server-actions
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/StartServerReq'
                - $ref: '#/components/schemas/StopServerReq'
                - $ref: '#/components/schemas/ForceStopServerReq'
                - $ref: '#/components/schemas/RebootServerReq'
                - $ref: '#/components/schemas/RebuildServerReq'
                - $ref: '#/components/schemas/ResizeServerReq'
                - $ref: '#/components/schemas/ConfirmResizeServerReq'
                - $ref: '#/components/schemas/RevertResizeServerReq'
                - $ref: '#/components/schemas/ChangeVideoDeviceReq'
                - $ref: '#/components/schemas/ChangeNetworkAdapterReq'
                - $ref: '#/components/schemas/ChangeStorageControllerReq'
                - $ref: '#/components/schemas/RescueServerReq'
                - $ref: '#/components/schemas/UnrescueServerReq'
      responses:
        '202':
          description: >-
            The server action has been accepted and is being processed asynchronously.
            Actions include: os-start (SHUTOFF->ACTIVE), os-stop (ACTIVE->SHUTOFF),
            reboot, rebuild (OS reinstall), resize (requires confirm/revert afterwards),
            rescue/unrescue, and hardware changes (video device, network adapter,
            storage controller — server must be SHUTOFF). Poll GET
            /v2.1/servers/{server_id} to monitor status transitions.
        '204':
          description: >-
            The server action completed synchronously (typically confirmResize or
            revertResize). No content is returned.
  /v2.1/flavors:
    get:
      tags:
        - compute
      summary: サーバプラン一覧取得
      description: |-
        アクセスできるすべてのフレーバーをリストアップします。
      operationId: compute/list-flavors
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a summary list of available server plans (flavors), including IDs
            and names. Use /v2.1/flavors/detail for full specifications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFlavorsRes'
  /v2.1/flavors/detail:
    get:
      tags:
        - compute
      summary: サーバプラン詳細一覧取得
      description: |-
        フレーバーの詳細一覧を取得します。
      operationId: compute/list-flavors-details
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a detailed list of all available server plans (flavors), including
            vCPUs, RAM (MB), disk size (GB), and extra specs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFlavorsDetailsRes'
  /v2.1/flavors/{flavor_id}:
    get:
      tags:
        - compute
      summary: サーバプラン詳細取得(アイテム指定)
      description: |-
        フレーバーの詳細を表示します。
      operationId: compute/show-flavor
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - in: path
          name: flavor_id
          schema:
            type: string
          required: true
          description: The ID of the flavor.
      responses:
        '200':
          description: >-
            Returns the details of a specific server plan (flavor), including vCPUs, RAM
            (MB), disk size (GB), and extra specs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowFlavorRes'
  /v2.1/flavors/{flavor_id}/os-extra_specs:
    get:
      tags:
        - compute
      summary: サーバプラン詳細取得(extra specs情報のみ)
      description: |-
        フレーバーの extra specs を表示します。
      operationId: compute/show-flavor-extra-specs
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - in: path
          name: flavor_id
          schema:
            type: string
          required: true
          description: The ID of the flavor.
      responses:
        '200':
          description: >-
            Returns the extra specs of a specific flavor, which contain additional
            hardware or billing characteristics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowFlavorExtraSpecsRes'
  /v2.1/servers:
    get:
      tags:
        - compute
      summary: サーバ一覧取得
      description: |-
        サーバのID、名前、リンクを一覧表示します。
      operationId: compute/list-servers
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a summary list of all servers in the project, including server IDs,
            names, and links. Use /v2.1/servers/detail for full details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServersRes'
    post:
      tags:
        - compute
      summary: サーバ作成
      description: |-
        サーバを作成します。

        * 事前にブートボリュームをボリューム作成APIで作成する必要があります
        * flavorRef には GET /v2.1/flavors で取得したフレーバーID を指定してください
        * image_id は入力できません
        * name は ConoHa サービス内で指定するため入力できません
        * 初期構築中及び処理中のサーバは削除できません
        * セキュリティグループは名前・IDどちらでも指定することができます。
          * 名前の場合: "security_groups": [{"name": "security_group_name"}]
          * IDの場合: "security_groups": ["security_group_id"]
      operationId: compute/create-server
      security:
        - KeystoneTokenAuthentication: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServerReq'
      responses:
        '202':
          description: >-
            The server creation request has been accepted and is being processed
            asynchronously. A boot volume must be created first via the Block Storage
            API. Poll GET /v2.1/servers/{server_id} to check status transition (BUILD ->
            ACTIVE).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateServerRes'
  /v2.1/servers/detail:
    get:
      tags:
        - compute
      summary: サーバ一覧詳細取得
      description: |-
        各サーバについて、ネットワーク、ボリューム、およびサーバ使用情報を含むサーバの詳細を表示します。

      operationId: compute/list-servers-details
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a detailed list of all servers in the project, including status
            (ACTIVE, SHUTOFF, BUILD, ERROR, VERIFY_RESIZE, RESCUE, etc.), flavor, image,
            attached volumes, network addresses, and metadata. Use this to check current
            server state before performing actions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServersDetailsRes'
  /v2.1/servers/{server_id}:
    get:
      tags:
        - compute
      summary: 詳細取得 (アイテム指定)
      description: |-
        サーバの詳細を表示します。

      operationId: compute/show-server
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
      responses:
        '200':
          description: >-
            Returns the full details of a specific server, including status, flavor,
            attached volumes, network addresses (IPv4/IPv6), security groups, metadata,
            and creation time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowServerRes'
    delete:
      tags:
        - compute
      summary: サーバ削除
      description: |-
        サーバを削除します
      operationId: compute/delete-server
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
      responses:
        '204':
          description: >-
            The server has been deleted. Servers in initial build or processing state
            cannot be deleted. No content is returned.
  /v2.1/servers/{server_id}/ips:
    get:
      tags:
        - compute
      summary: サーバに紐づくIPアドレス一覧取得
      description: |-
        サーバに割り当てられているIPアドレスを一覧表示します。
      operationId: compute/list-ips
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
      responses:
        '200':
          description: >-
            Returns all IP addresses assigned to the server, grouped by network name.
            Includes both IPv4 and IPv6 addresses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIpsRes'
  /v2.1/servers/{server_id}/ips/{network_label}:
    get:
      tags:
        - compute
      summary: サーバに紐づくIPアドレス一覧取得(ネットワーク名指定)
      description: |-
        サーバに紐づくIPアドレスのうち、指定したネットワークラベル(ネットワーク名)のみの詳細を表示します。

      operationId: compute/show-ip-details
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
        - in: path
          name: network_label
          schema:
            type: string
          required: true
          description: ネットワーク名
      responses:
        '200':
          description: >-
            Returns the IP addresses assigned to the server for the specified network
            label (network name), including IP version and address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowIpsDetailsRes'
  /v2.1/servers/{server_id}/os-security-groups:
    get:
      tags:
        - compute
      summary: サーバに紐づくセキュリティグループ一覧取得
      description: |-
        セキュリティグループのサーバへの割り当て状態を確認することが出来ます。
      operationId: compute/list-security-groups-server
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
      responses:
        '200':
          description: >-
            Returns a list of security groups assigned to the specified server,
            including group IDs, names, and their associated rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecurityGroupsServerRes'
  /v2.1/servers/{server_id}/remote-consoles:
    post:
      tags:
        - compute
      summary: コンソールURL取得
      description: |-
        コンソール接続の際に用いる、一時的なコンソール接続用URLを取得します。

        VNCコンソール、シリアルコンソール、webシリアルコンソールのURLを生成することができます。

        起動中のサーバーのみ利用可能です。停止状態の場合はサーバーを起動してから実行してください。

        各コンソールのprotocolとtypeの組み合わせは以下になります

        | console    | protocol | type   |
        | ---------- | -------- | ------ |
        | vnc        | vnc      | novnc  |
        | serial     | serial   | serial |
        | web serial | web      | serial |

      operationId: compute/create-console
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreateVNCConsoleReq'
                - $ref: '#/components/schemas/CreateSerialConsoleReq'
                - $ref: '#/components/schemas/CreateWEBConsoleReq'
      responses:
        '200':
          description: >-
            Returns a temporary console URL for the server. Supported console types: VNC
            (protocol=vnc, type=novnc), serial (protocol=serial, type=serial), and web
            serial (protocol=web, type=serial). The server must be in ACTIVE state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateConsoleRes'
  /v2.1/servers/{server_id}/rrd/cpu:
    get:
      tags:
        - compute
      summary: サーバ利用状況グラフ取得 (CPU使用時間)
      description: |-
        サーバのCPU使用時間をrrd形式で取得します。

        一秒間に 「1 CPU が占有された時間 × Core 数」を nano second 単位で出力します。

        * 1Core の場合、最大で 1,000,000,000 nsec
        * 2Core の場合、最大で 2,000,000,000 nsec

      operationId: compute/get-cpu-utilization-graph
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
        - in: query
          name: start_date_raw
          schema:
            type: string
          required: false
          description: Data acquisition start time (default:1day ago)
        - in: query
          name: end_date_raw
          schema:
            type: string
          required: false
          description: Data acquisition end time (default:current time)
        - in: query
          name: mode
          schema:
            type: string
          required: false
          description: Data binding method ({average,max,min} default:average)
      responses:
        '200':
          description: >-
            Returns CPU utilization data in RRD format. Values are in nanoseconds per
            second per core (e.g., max 1,000,000,000 for 1 core, 2,000,000,000 for 2
            cores).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCpuUtilizationGraphRes'
  /v2.1/servers/{server_id}/rrd/interface:
    get:
      tags:
        - compute
      summary: サーバ利用状況グラフ取得 (インターフェイストラフィック)
      description: |-
        サーバにアタッチされたポートのトラフィック情報をrrd形式で取得します。

        単位は B/s(Byte/second) です。

      operationId: compute/get-interface-traffic-graph
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
        - in: query
          name: port_id
          schema:
            type: string
          required: true
          description: The Port ID
        - in: query
          name: start_date_raw
          schema:
            type: string
          required: false
          description: Data acquisition start time (default:1day ago)
        - in: query
          name: end_date_raw
          schema:
            type: string
          required: false
          description: Data acquisition end time (default:current time)
        - in: query
          name: mode
          schema:
            type: string
          required: false
          description: Data binding method ({average,max,min} default:average)
      responses:
        '200':
          description: >-
            Returns network interface traffic data in RRD format for the specified port.
            Values are in B/s (bytes per second).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInterfaceTrafficGraphRes'
  /v2.1/servers/{server_id}/rrd/disk:
    get:
      tags:
        - compute
      summary: サーバ利用状況グラフ取得 (ディスクIO)
      description: |-
        サーバにアタッチされたボリュームのIO情報をrrd形式で取得します。

        単位は B/s(Byte/second) です。

      operationId: compute/get-disk-io-graph
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/ServerIdPath'
        - in: query
          name: device
          schema:
            type: string
          required: false
          description: The disk device name ({vda,vdb,etc} default:vda)
        - in: query
          name: start_date_raw
          schema:
            type: string
          required: false
          description: Data acquisition start time (default:1day ago)
        - in: query
          name: end_date_raw
          schema:
            type: string
          required: false
          description: Data acquisition end time (default:current time)
        - in: query
          name: mode
          schema:
            type: string
          required: false
          description: Data binding method ({average,max,min} default:average)
      responses:
        '200':
          description: >-
            Returns disk I/O data in RRD format for the specified device (default: vda).
            Values are in B/s (bytes per second).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDiskIOGraphRes'
  /v2.1/startup-scripts:
    get:
      tags:
        - compute
      summary: スタートアップスクリプト一覧取得 (GMO)
      description: |-
        スタートアップスクリプトのテンプレート一覧を取得します

        指定したトークンのサービスタイプに応じたスタートアップスクリプトが返却されます

      operationId: compute/list-startup-scripts
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a list of available startup script templates for the account's
            service type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListStartupScriptsRes'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2.0/networks:
    post:
      tags:
        - network
      summary: ネットワーク作成 (ローカルネットワーク用)
      description: |-
        ローカルネットワークを作成します。

        リクエストボディは不要です。

        ローカルネットワークの作成は1つのアカウントに対して10個までに制限されています。

      operationId: network/create-networks
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '201':
          description: >-
            A new local network has been created. Maximum 10 local networks per account.
            Returns the network details including ID, name, status, and subnets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowNetworkRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
        - network
      summary: ネットワーク一覧取得
      description: |-
        ネットワーク一覧を取得します。
      operationId: network/list-networks
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - in: query
          name: id
          schema:
            type: string
          required: false
          description: Filter the list result by the ID of the resource.
        - in: query
          name: name
          schema:
            type: string
          required: false
          description: Filter the list result by the human-readable name of the resource.
        - in: query
          name: status
          schema:
            type: string
          required: false
          description: Filter the network list result by network status. Values are ACTIVE, DOWN, BUILD or ERROR.
        - in: query
          name: tenant_id
          schema:
            type: string
          required: false
          description: Filter the list result by the ID of the project that owns the resource.
        - in: query
          name: project_id
          schema:
            type: string
          required: false
          description: Filter the list result by the ID of the project that owns the resource.
        - in: query
          name: shared
          schema:
            type: boolean
          required: false
          description: Filter the network list result based on if the network is shared across all tenants.
        - in: query
          name: fields
          schema:
            type: string
          required: false
          description: By using fields parameter, the API returns only the requested set of attributes. e.g. fields=id&fields=name
      responses:
        '200':
          description: >-
            Returns a list of all networks accessible to the project, including external
            networks, local networks, and shared networks. Each entry includes network
            ID, name, status, subnets, and shared flag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNetworksRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2.0/networks/{network_id}:
    get:
      tags:
        - network
      summary: ネットワーク詳細取得(アイテム指定)
      description: |-
        指定したネットワークIDのネットワーク詳細を取得します。

        queryに"fields"を指定してレスポンス内容をフィルタリング可能です。
      operationId: network/show-network
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - in: path
          name: network_id
          schema:
            type: string
          required: true
          description: The UUID of the network.
        - in: query
          name: fields
          schema:
            type: string
          required: false
          description: By using fields parameter, the API returns only the requested set of attributes. e.g. fields=id&fields=name
      responses:
        '200':
          description: >-
            Returns the details of a specific network, including ID, name, status,
            subnets, admin_state_up, and shared flag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowNetworkRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
        - network
      summary: ネットワーク削除 (ローカルネットワーク用)
      description: |-
        ローカルネットワークのみ削除することができます。

        ネットワークを削除するには、紐づくサブネットやポートを先に削除する必要があります。

      operationId: network/delete-network
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - in: path
          name: network_id
          schema:
            type: string
          required: true
          description: The UUID of the network.
      responses:
        '204':
          description: >-
            The local network has been deleted. Only local networks can be deleted. All
            associated subnets and ports must be deleted first. No content is returned.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2.0/allocateips:
    post:
      tags:
        - network
      summary: ポート作成 (追加IP用)
      description: |-
        追加IPアドレス用ポートを作成することが出来ます。

        "count" には追加したいIPの個数を指定します。 1 ~ 16 まで指定が可能です。

        追加するIPの個数が多いほどIPアドレス使用料が上昇します。また、不正利用防止の為**30日間解約できません**のでご注意ください。

      operationId: network/create-additional-port
      security:
        - KeystoneTokenAuthentication: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdditionalPortReq'
      responses:
        '201':
          description: >-
            Additional IP address port(s) have been created. The count parameter
            specifies 1-16 IPs. Note: additional IPs cannot be cancelled for 30 days.
            Returns the port details including allocated IP addresses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2.0/ports:
    post:
      tags:
        - network
      summary: ポート作成 (ローカルネットワーク用)
      description: |-
        ローカルネットワークのポート作成時に利用します。

        ポート作成のためには事前にサブネットの作成が必要となります。未作成の場合は"サブネット作成 (ローカルネットワーク用)API"にてサブネットを作成してからポート作成を実行してください。

        Externalネットワークや追加IP用のポートを作成することはできません。

        事前に作成したネットワークの network_id は必ず指定する必要があり、他のパラメータは任意指定です。

      operationId: network/create-port
      security:
        - KeystoneTokenAuthentication: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePortReq'
      responses:
        '201':
          description: >-
            A new port has been created on the local network. A subnet must exist on the
            network before creating ports. Returns the port details including ID, MAC
            address, fixed IPs, and security groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
        - network
      summary: ポート一覧取得
      description: |-
        ポート一覧を取得します。

        queryを利用して様々なフィルタリングが可能です。
      operationId: network/list-ports
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - name: admin_state_up
          in: query
          required: false
          schema:
            type: boolean
          description: Filter the list result by the administrative state of the resource, which is up (true) or down (false).
        - name: description
          in: query
          required: false
          schema:
            type: string
          description: Filter the list result by the human-readable description of the resource.
        - name: device_id
          in: query
          required: false
          schema:
            type: string
          description: Filter the port list result by the ID of the device that uses this port. For example, a server instance or a logical router.
        - name: device_owner
          in: query
          required: false
          schema:
            type: string
          description: Filter the port result list by the entity type that uses this port. For example, compute:nova (server instance), network:dhcp (DHCP agent) or network:router_interface (router interface).
        - name: fixed_ips
          in: query
          required: false
          schema:
            type: string
          description: Filter the port list result by the IP addresses for the port. This field has one or multiple entries. Each entry consists of IP address (ip_address), IP address substring (ip_address_substr) and/or the subnet ID from which the IP address is assigned (subnet_id).
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: Filter the list result by the ID of the resource.
        - name: mac_address
          in: query
          required: false
          schema:
            type: string
          description: Filter the port list result by the MAC address of the port.
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Filter the list result by the human-readable name of the resource.
        - name: network_id
          in: query
          required: false
          schema:
            type: string
          description: Filter the list result by the ID of the attached network.
        - name: project_id
          in: query
          required: false
          schema:
            type: string
          description: Filter the list result by the ID of the project that owns the resource.
        - name: revision_number
          in: query
          required: false
          schema:
            type: integer
          description: Filter the list result by the revision number of the resource.
        - name: sort_dir
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
          description: Sort direction. A valid value is asc (ascending) or desc (descending). You can specify multiple pairs of sort key and sort direction query parameters.
        - name: sort_key
          in: query
          required: false
          schema:
            type: string
          description: Sorts by a port attribute. You can specify multiple pairs of sort key and sort direction query parameters.
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [ACTIVE, DOWN, BUILD, ERROR]
          description: Filter the port list result by the port status. Values are ACTIVE, DOWN, BUILD and ERROR.
        - name: tenant_id
          in: query
          required: false
          schema:
            type: string
          description: Filter the list result by the ID of the project that owns the resource.
        - name: tags
          in: query
          required: false
          schema:
            type: string
          description: A list of tags to filter the list result by. Resources that match all tags in this list will be returned. Tags in query must be separated by comma.
        - name: tags-any
          in: query
          required: false
          schema:
            type: string
          description: A list of tags to filter the list result by. Resources that match any tag in this list will be returned. Tags in query must be separated by comma.
        - name: not-tags
          in: query
          required: false
          schema:
            type: string
          description: A list of tags to filter the list result by. Resources that match all tags in this list will be excluded. Tags in query must be separated by comma.
        - name: not-tags-any
          in: query
          required: false
          schema:
            type: string
          description: A list of tags to filter the list result by. Resources that match any tag in this list will be excluded. Tags in query must be separated by comma.
        - name: fields
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: By using fields parameter, the API returns only the requested set of attributes. e.g. fields=id&fields=name
      responses:
        '200':
          description: >-
            Returns a list of all ports in the project, including port IDs, MAC
            addresses, fixed IPs, device IDs (server or router), status, and security
            groups. Supports extensive filtering.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPortsRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2.0/ports/{port_id}:
    get:
      tags:
        - network
      summary: ポート詳細取得 (アイテム指定)
      description: |-
        ポート詳細を取得します。

        queryに"fields"を指定してレスポンス内容をフィルタリング可能です。

      operationId: network/show-ports
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/PortIdPath'
        - in: query
          name: fields
          schema:
            type: string
          required: false
          description: By using fields parameter, the API returns only the requested set of attributes. e.g. fields=id&fields=name
      responses:
        '200':
          description: >-
            Returns the details of a specific port, including ID, MAC address, fixed
            IPs, device ID, device owner, status, and security groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags:
        - network
      summary: ポート更新
      description: |-
        ポートのセキュリティグループを変更したり、IPアドレスを指定したり、帯域を変更したりする際に利用します。

        Nameの変更を行うことはできません。

        指定したパラメータの値のみ更新されます。

      operationId: network/update-port
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/PortIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePortReq'
      responses:
        '200':
          description: >-
            The port has been updated (e.g., security groups changed, IP address
            assigned, or bandwidth modified). Name cannot be changed. Returns the
            updated port details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
        - network
      summary: ポート削除
      description: |-
        ポートを削除します。

        ExternalポートやLB用ポートの削除はできません。

      operationId: network/delete-ports
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - $ref: '#/components/parameters/PortIdPath'
      responses:
        '204':
          description: >-
            The port has been deleted. External ports and load balancer ports cannot be
            deleted. No content is returned.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2.0/subnets:
    post:
      tags:
        - network
      summary: サブネット作成 (ローカルネットワーク用)
      description: |-
        ローカルネットワークのサブネットを作成します。
      operationId: network/create-local-subnet
      security:
        - KeystoneTokenAuthentication: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLocalSubnetReq'
      responses:
        '201':
          description: >-
            A new subnet has been created on the local network. Returns the subnet
            details including ID, CIDR, gateway IP, allocation pools, and DNS
            nameservers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubnetRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
        - network
      summary: サブネット一覧取得
      description: |-
        サブネット一覧を取得します。
      operationId: network/list-subnets
      security:
        - KeystoneTokenAuthentication: []
      responses:
        '200':
          description: >-
            Returns a list of all subnets in the project, including subnet IDs, CIDRs,
            network IDs, and gateway IPs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSubnetsRes'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2.0/subnets/{subnet_id}:
    get:
      tags:
        - network
      summary: サブネット詳細取得 (アイテム指定)
      description: |-
        サブネット詳細を取得します。
      operationId: network/show-subnets
      security:
        - KeystoneTokenAuthentication: []
      parameters:
        - in: path
          name: subnet_id
          schema:
[...]
